<!DOCTYPE html>
<html>
<head>
  <title>by onhappi - <%= @title %></title>
  <%=stylesheet_link_tag'blueprint/screen',:media=>'screen'%>
  <%=stylesheet_link_tag'blueprint/print',:media=>'print'%> 
  <%=stylesheet_link_tag'custom',:media=>'screen'%> 
</head>
<%= javascript_include_tag "application" %>
<body>
 <div class="container">
  <%= render "layouts/header" %>
  <section class="roud">
    <% flash.each do |key, value| %>
     <div class="flash<%= key %>"><%=value %></div>
    <% end %> 
    <%= yield %>
  </section>
 <%= render "layouts/footer" %>
 <%= debug(params) if Rails.env.development? %>
 <%= debug(cookies) if Rails.env.development? %>
 <%= debug(current_user) if Rails.env.development? %>
 <div>
</body>
</html>
